@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-background-img {
  background-image: url(../assets/images/background_login.jpg);
  background-size: cover;
  object-fit: fill;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  min-width: 100vw;
  min-height: 100vh;

}

